.all-events-container {
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.795), rgba(255, 255, 255, 0.795)), 
    url('../../../../public/bg_pattern.png');
}
.hero-section{
    background-color: #f8f9fa;
}
.hero-section .title {
    color: var(--mainColor);
}

.hero-section .subtitle {
    max-width: 800px;
    margin: 0 auto;
}

.search-bar .search-input {
    max-width: 600px;
    width: 100%;
}

.search-bar .search-input .form-control {
    border-radius: 25px;
    padding-left: 1.5rem;
    border: 1px solid #ddd;
}

.search-bar .search-button {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 20px;
}

.project-card {
    transition: transform 0.2s;
    cursor: pointer;
    border: 0;
    border-radius: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #F7F7F7;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-image {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.details-button {
    color: var(--mainColor);
    text-decoration: none;
    font-weight: 700;    
}
