.home .header{
    background-color: var(--mainBackgroundColor);
    height: 100vh;
    min-height: 100%;
}

.home .header .col-md-6{
    height: 100vh;
    min-height: 100%;
}
.home .main-title{
    color: var(--color2);
}
.home .main-title span{
    color: var(--mainColor);
}
.home .more{
    background-color: var(--mainColor);
    color: white;
    border-radius: .35rem;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem 2rem;
}
.about{
    background: linear-gradient(rgba(255, 255, 255, 0.795), rgba(255, 255, 255, 0.795)), 
                url('../../../../public/bg_pattern.png');
}
.about .sub-title{
    color: var(--color2);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.219);
}
.home .about .card{
    border: 0;
    box-shadow: 0px 8px 7px #e0e1e2;
}